<div class="jumbotron" id="principal">
	<div class="container-fluid" id="form-container">
		<form>
			<label> Nome</label>
			<input type="text" 
			ng-model="vm.cad.name">
			<input id="file" type="file" 
			accept="image/*" 
			ngf-max-size="10MB" 
			ngf-select ng-model="vm.cad.imageFile">			
			<input type="text" placeholder="Digite sua busca">
			<input type="button" value="Buscar" ng-model="vm.buscar">			
			<input type="submit" value="Enviar" ng-click="vm.register(vm.cad)">
		</form>	
		<table class="table">
			<tr>
				<th>Nome</th>
			</tr>
			<tbody>
				<tr ng-repeat="user in vm.user">					
					<td>{{user.name}}</td>
					<td><input type="button" value="Editar"></td>
					<td><input type="button" value="Excluir" ng-click="vm.deleteUser(user)"></td>
				</tr>
			</tbody>
		</table>	
	</div>
</div>