<div class="container-fluid" id="form-container" ng-controller="homeCtrl as vm">
  <div class="alert alert-danger" role="alert" ng-show="vm.message">
    <p>{{ vm.message }}</p>
  </div>
  <form novalidate name="form" id="form-container">
    <input class="form-control" name="name" type="text" placeholder="Insert your product" 
    ng-model="vm.cad.name"
    ng-keypress="vm.keypress($event, vm.cad)"></input>    
  </form> 
  <table class="table">
    <tr>
      <th class="text-left" colspan="3">Name</th>
    </tr>
    <tbody>
      <tr ng-repeat="product in vm.product">        
        <td class="input-normal" id="name">{{ product.name }}</td>
        <td class="button-table" id="edit"><input type="button" value="Edit" ng-click="vm.editProducts(product)"></td>
        <td class="button-table" id="delete"><input type="button" value="Delete" 
        ng-click="vm.deleteUser(product)"></td>        
      </tr>
    </tbody>
  </table>  
</div>